

body{
margin: 10px
border: 2px;
padding: 2px;
}

h1{
color: #ffffff;
background: #000000;
font-family: Tahoma, Geneva, sans-serif;
text-align: center;
font-size: 200%;
height: 80px;
}

h2{
background: #000000;
font-family: Tahoma, Geneva, sans-serif;
color:ffffff;
font-size: 200%
}

video {
height: 400px;
width: 400px;
}


h3{
background: #000000;
font-family: Tahoma, Geneva, sans-serif;
color:ffffff;
font-size: 200%
}

nav{
background: #b3b3b3;
}

nav a{
display: inline-block;
font-family: Tahoma, Geneva, sans-serif;
font-size: 130%;
margin: 2%;
-webkit-border-radius: 3;
-moz-border-radius: 3;
-o-border-radius: 3;
border-radius: 5px;
text-decoration: none;
color: #ffffff;
text-align: center;
vertical-align: middle;
background-color: #cd5c5c;
width:350px;
box-sizing: border-box;
border: 1px solid #000000;
height: 50px;
margin: 2%;
padding: 2%;
transition: 2s ease;
white-space: nowrap;
}

nav a:focus{
background-color: #ffff00;
}

nav a:hover{
width: 400px;
background-color: #800040;
}



section{
background: #b3b3b3;
font-family: Tahoma, Geneva, sans-serif;
color: #ffffff;
}


footer a {
display: block;
font-size: 200%;
font-family: Tahoma, Geneva, sans-serif;
border: 3px;
text-decoration: None;
}

p {
font-size: 200%;
}

img {
width: 300px;
height: 300px;
display: inline-block;
}


table {
font-family: Tahoma, "Times New Roman";
font-size: 120%;
font-weight: bold;
line-height: 200%;
width: 75%;
margin: 50px;
white-space: nowrap;
text-align:center;
}


table th{
color: #ffffff;
background-color: #b3b3b3;
border-radius: 20px 20px 20px 20px;
border-style: solid;

box-sizing: border-box;
margin: 0 auto;
padding: 20px;
width: 200px;
height: 50px;
}


td {
background: #E0FFFF;
color: #808080;
border: 1px solid #FFFFFF;
text-align: center;
}


table, td, th {
padding: 1%;
}


tr th:first-child, tr td:first-child {
text-align: center;
}


tr td {
opacity: 0.8;
}


tr td:hover {
opacity: 2.5;
text-align: center;
font-size: 120%;
}

div {
   width: 200px;
   height: 200px;
}

div img {
   display: inline-block;
   width: 100%;
}

form{
background: #b3b3b3;
font-family: Tahoma, Geneva, sans-serif;
color: #ffffff;
font-size: 200%;
display: block;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 20%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

div ul li ul {
font-family: Tahoma, Geneva, sans-serif;
font-size: 300%;
display:block;

}